.login {
    position: relative;
    padding: 10px;
    align-items: center;
    justify-content: center;
    max-width: 30%;
}

.box{
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:5px 5px 20px 5px;
    border: #2980b9 4px solid;
}

h1{
    font-size:1.5em;
    color:#525252;
    text-align:center;
}

.btn{
    padding-bottom:5px;
}

.wide {
    width:100%;
}

.container {
    margin-top: 3px;
}

.listing {
    margin-left: 5px;
    margin-right: 5px;
}

.text {
    color: rgb(66, 64, 64);
}

.important {
    font-weight: bold;
}

.filter {
    position: relative;
    display: inline-block;
   }
   
   .filter__button {
    border-radius: 0.125rem;
    padding: 0.5rem 1rem;
    background-color: #2b7de9;
    background-image: none;
    cursor: pointer;
    border: transparent;
    font-weight: 600;
    color: white;
    font-size: 16px;
    line-height: 1.5;
   }
   
   .filter__button:hover {
    background-color: #176dde;
   }
   .filter__button:focus {
    outline: 1px dotted;
    outline: 1px auto -webkit-focus-ring-color;
}

.modalSmall {
    height: auto;
}

.border {
    border: 1px solid rgba(34,36,38,.15);
}

body {
    background-color: #e9e7e7;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
  }
  
  body > div,
  body > div > div,
  body > div > div > .ui.grid {
    height: 100%;
  }
  